

h1{
    text-align: center;
    font-size: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    padding-top: 1px;
    padding-bottom: 20px;
    background-color:rgb(185, 217, 253);
    align-items: center;
    border-radius: 10px;
}

.card{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px;
}

.form-card{
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
}

.div-form{
    display: flex;
    flex-direction: column;
    padding: 50px
}


#title-category{
    margin: 10px;    
}

#div-title1{
    display: bl;
    flex-direction:row;
    justify-content: space-between;
    background-color:rgb(88, 146, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
}

#div-correct-answers{
    font-size: 40px;
    padding: 20px;
    background-color:rgb(134, 238, 114);
}

#div-wrong-answers{
    font-size: 40px;
    padding: 20px;
    background-color:rgb(255, 91, 91);
}

#div-title-login{
    background-color:rgb(88, 146, 255);
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#article-question{
    display: flex;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color:rgb(255, 255, 255);  
}

#btn-next{
    margin-top: 20px;
}

#img-question{
    margin-top: 30px;
    height: 200px;
    width: 200px;
   /*  background-image: url("../img/puzle.png"); */
}

.div-score{
    text-align: center;
    padding: 30px;
    height: 250px;
    width: 400px;
    background-color:rgb(77, 253, 136);  
    color: white;
}